<h2>Inscription</h2>
<div class="container">
  <div class ="elem">
    <form [formGroup]="userForm" (ngSubmit)="createUser()">
    <label>
      Pseudo:
        <input type="text" formControlName="username">
    </label>
    <div formGroupName = "credentials">
      <label>
        Email:
          <input type="email" formControlName="email">
      </label>
      <label>
        Mot de passe:
          <input type="password" formControlName="password">
      </label>
    </div>
    <label>
      N° et rue:
        <input type="text" formControlName="street">
    </label>
    <label>
      Code postal:
        <input type="text" formControlName="zipcode">
    </label>
    <label>
      Ville:
        <input type="text" formControlName="city">
    </label>
    <button type="submit">M'inscrire</button>
  </form>
  </div>

</div>
