<h2>Inscription</h2>
<div class="container">
  <div class ="elem">
    <label>
      Pseudo:
        <input type="text" [formControl]="username">
    </label>
    <label>
      Email:
        <input type="email" [formControl]="email">
    </label>
    <label>
      Mot de passe:
        <input type="password" [formControl]="password">
    </label>
    <label>
      N° et rue:
        <input type="text" [formControl]="street">
    </label>
    <label>
      Code postal:
        <input type="text" [formControl]="zipcode">
    </label>
    <label>
      Ville:
        <input type="text" [formControl]="city">
    </label>
    <button (click) = "createUser()">M'inscrire</button>
  </div>

  <div *ngIf="isDisplayed" class="elem">
  Mon profil :
    <p> Pseudo: {{this.user.username}}</p>
    <p>Email: {{this.user.email}} </p>
    <p> Adresse: {{this.user.adress}} </p>
  </div>

</div>
